<% include header.html %>
<div class='container'>
<form method='post'>
  <h3>Log In</h3>
  <input name='userid' placeholder='Your User ID'
    class='form-control' autofocus >
  <input name='password' placeholder='Your Password'
         type='password'
    class='form-control'>
  <button class='btn btn-primary'>Log In</button>
</form>
</div>
<style>
  form  { max-width: 320px; }
  input { margin-bottom: 8px; }
</style>
<% include footer.html %>