<% include header.html %>

<form method='post'>
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr />

    <label for="fname"><b>First Name</b></label>
    <input class="form-control" type="text" placeholder="Enter First Name" name="fname" required />
    <hr />

    <label for="lname"><b>Last Name</b></label>
    <input class="form-control" type="text" placeholder="Enter Last Name" name="lname" required />
    <hr />

    <label for="phone"><b>Phone</b></label>
    <input class="form-control" type="text" placeholder="Enter Phone" name="phone" required />
    <hr />

    <label for="userid"><b>User ID</b></label>
    <input class="form-control" type="text" placeholder="Enter User ID" name="userid" required />
    <hr />

    <label for="password"><b>Password</b></label>
    <input class="form-control" type="password" placeholder="Enter Password" name="password" required />

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input
      class="form-control"
      type="password"
      placeholder="Repeat Password"
      name="pswrepeat"
      required
    />
    <hr />

    
    <button type="submit" class="btn btn-primary">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="/login">Login</a>.</p>
  </div>
</form>
<% include footer.html %>
